
<div class="mt-8">
  <h1>Lista de clientes JPV</h1>
  <table mat-table [dataSource]="clients" class="mat-table cdk-table mat-elevation-z8 w-full">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="dateBirth">
        <th mat-header-cell *matHeaderCellDef> Data de nascimento </th>
        <td mat-cell *matCellDef="let element"> {{element.dateBirth | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="saleValue">
        <th mat-header-cell *matHeaderCellDef> Valor da venda </th>
        <td mat-cell *matCellDef="let element"> {{element.saleValue}} </td>
      </ng-container>
  
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell  *matHeaderCellDef >  
          <button  mat-button color="primary" [routerLink]="['/client/create']" matTooltip="Adicionar"><mat-icon>add</mat-icon></button>
        </th>
        <td mat-cell *matCellDef="let row" >
          <button mat-button color="accent" (click)="edit(row.id)" matTooltip="Editar"><mat-icon>edit</mat-icon></button>
          <button mat-button color="warn" (click)="remove(row)" matTooltip="Deletar"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
</div>